/* @tailwind base; */

.box-border {
  box-sizing: border-box
}

.w-full {
  width: 100%
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity))
}

.p-8 {
  padding: 2rem
}

.p-4 {
  padding: 1rem
}

@media (min-width: 640px) {
  .sm\:box-border {
    box-sizing: border-box
  }

  .sm\:w-full {
    width: 100%
  }

  .sm\:w-3 {
    width: 0.75rem
  }

  .sm\:w-4 {
    width: 1rem
  }

  .sm\:rounded-lg {
    border-radius: 0.5rem
  }

  .sm\:rounded-2xl {
    border-radius: 1rem
  }

  .sm\:border-b {
    border-bottom-width: 1px
  }

  .sm\:border-x-transparent {
    border-left-color: transparent;
    border-right-color: transparent
  }

  .sm\:bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity))
  }

  .sm\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity))
  }

  .sm\:p-2 {
    padding: 0.5rem
  }

  .sm\:p-5 {
    padding: 1.25rem
  }
}

@media (min-width: 768px) {
  .md\:box-border {
    box-sizing: border-box
  }

  .md\:w-full {
    width: 100%
  }

  .md\:bg-pink-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 39 119 / var(--tw-bg-opacity))
  }

  .md\:bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity))
  }

  .md\:p-4 {
    padding: 1rem
  }
}

@media (min-width: 1024px) {
  .lg\:box-border {
    box-sizing: border-box
  }

  .lg\:w-full {
    width: 100%
  }

  .lg\:bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity))
  }

  .lg\:p-4 {
    padding: 1rem
  }

  .lg\:p-2 {
    padding: 0.5rem
  }
}

@media (min-width: 1536px) {
  .\32xl\:box-border {
    box-sizing: border-box
  }

  .\32xl\:w-full {
    width: 100%
  }

  .\32xl\:bg-green-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--tw-bg-opacity))
  }

  .\32xl\:bg-pink-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 39 119 / var(--tw-bg-opacity))
  }

  .\32xl\:p-8 {
    padding: 2rem
  }

  .\32xl\:p-4 {
    padding: 1rem
  }
}